*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*================
 packages icon color 
 ================*/
.i-color{
    color:#644cee;
}

/*=============
 package button 
 ==============*/
.btn-color{
    background: #FEF5FA;
    text-decoration: none;
}

/*=========== 
submit bg
============ */
.bg-color{
    background: #FEF5FA;
}

/*=============
 footer color 
 ============*/
.f-color{
    background: #0D2941;
    color:#D9DBE1;
}
